
<!DOCTYPE html>
<html lang="en">
<head>
<title>E-Banking</title>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="css/font-awesome.css" rel="stylesheet">   <!-- font-awesome icons --> 
<!-- //Custom Theme files -->  
<!-- js --> 
	<script src="js/jquery-2.2.3.min.js"></script>
<!-- web-fonts -->

<!-- //web-fonts --> 

</head>
<body> 
	<!-- header -->
	<div class="headerw3-agile"> 
		<div class="header-w3mdl"><!-- header-two --> 
			<div class="container"> 
				<div class="agileits-logo navbar-left">
					<h1><a href="index.ejs"><img src="images/e.png" alt="logo"/>Banking</a></h1> 
				</div> 
				<div class="agileits-hdright nav navbar-nav">
					<div class="header-w3top"><!-- header-top --> 
						<ul class="w3l-nav-top">
							<li><i class="fa fa-phone"></i><span> 9876543210 </span></li> 
							<li></i> <span> mail@example.com</span></li>
						</ul>
						<div class="clearfix"> </div> 	 
					</div>
					
				</div>
				<div class="clearfix"> </div> 
			</div>	
		</div>	
	</div>	
	<!-- //header -->  
	<!-- banner -->
	<div class="banner inner-banner">
		<div class="header-nav"><!-- header-three --> 	
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						Menu 
					</button> 
				</div>
				<!-- top-nav -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/" class="active">Home</a></li>
						<li><a href="/Login" class="scroll">Login</a></li>    
						<li><a href="/SignUp" class="scroll">SignUp</a></li>    				
						<li><a href="/CreateAccount" class="scroll">CreateAccount</a></li>

					
					</ul>  
					<div class="clearfix"> </div>	
				</div>
			</nav>    
		</div>
	</div>	
	
<form action="/oncreateacc" method="post" >
     <div class="form-group">
	<div class="w3ls-section services">
		<div class="container">
			<h2 class="h3-w3l">Create Account</h2> 
			<div class="services-left">
  						
						<div class="form-group">
  							<label for="type of account" style="color:white">Account Type</label>
  							<select class="form-control" name="title" id="sel1">
    							<option value="Savings">Savings</option>
    							<option value="Current">Current</option>
  							</select>
					</div>

				        <label for="Name" style="color: white">Name</label>
    					<input type="text" class="form-control" name="names" pattern="[A-Za-z]*" id="name"  placeholder="Enter Full Name" required>
  					

  					
    					<label for="birth" style="color: white">D.O.B</label>
    					<input type="date" name="date" class="form-control" id="dob" required="">
    					
  					

  							<label for="Gender" style="color:white">Gender</label>
  							<select name="gender" class="form-control" >
    							<option value="Mr.">Male</option>
    							<option value="Mrs.">Female</option>
  							</select>
					

    					<label for="contact" style="color: white">Contact no.</label>
    					<input type="text" name="tel" class="form-control" pattern="[6|7|8|9][0-9]{9}" id="telephone"  placeholder="Enter Your Number" required="">
    					<!-- 
  					    <label for="Security" style="color: white">Security Question:What is your favorite book?</label>
    					<input type="text" name="sec" class="form-control" placeholder="Enter the book name" required=""> -->
    					
  					
			</div>
			<div class="services-left">
					
    					<label for="Aadhar" style="color: white">Aadhaar no.</label>
    					<input type="text" name="aadhaar" class="form-control" id="aadhaar"  placeholder="Enter Aadhaar Number" pattern="[0-9]{12}" required="">
    					
  					

    					<label for="address" style="color: white">Address</label>
    					<input type="address"  name="address" class="form-control" id="address"  placeholder="Enter Your Home Address" required="">
    					
  					
    					<label for="city" style="color: white">City</label>
    					<input type="text" name="city" class="form-control" id="city" pattern="[A-Za-z]*" placeholder="Enter Your City" required="">
    					
    					<label for="state" style="color: white">State</label>
    					<input type="text" name="state" class="form-control" id="state" pattern="[A-Za-z]*" placeholder="Enter Your State" required="">
    					
    					<label for="pincode" style="color: white">Pincode</label>
    					<input type="text" name="pin" pattern="[0-9]{6}" class="form-control" id="pin"  placeholder="Enter Your Pincode" required="">
    					
  					
  				
			</div>
			<div style="padding-left: 50%"  ><button type="submit" class="btn btn-primary" type="submit">Submit</button></div>
		</div>
	</div>
	</div>
</form>
	<div class="agileits_w3layouts-services-mid">
		<div class="col-md-5 services-mid-img">
		</div>
		<div class="col-md-5 services-mid-text">
		</div>
		<div class="clearfix"> </div>
	</div>

<div class="w3_agile-copyright text-center">
		<p>2017 E-Banking. All rights reserved | Design by Team9</p>
	</div>

</body>
</html>