
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>E-Banking a Banking Category Bootstrap Bootstrap Responsive website Template | Services :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="E-Banking Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="css/font-awesome.css" rel="stylesheet">   <!-- font-awesome icons --> 
<!-- //Custom Theme files -->  
<!-- js --> 
	<script src="js/jquery-2.2.3.min.js"></script>
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- //web-fonts --> 

</head>
<body> 
	<!-- header -->
	<div class="headerw3-agile"> 
		<div class="header-w3mdl"><!-- header-two --> 
			<div class="container"> 
				<div class="agileits-logo navbar-left">
					<h1><a href="index.html"><img src="images/e.png" alt="logo"/>Banking</a></h1> 
				</div> 
				<div class="agileits-hdright nav navbar-nav">
					<div class="header-w3top"><!-- header-top --> 
						<ul class="w3l-nav-top">
							<li><i class="fa fa-phone"></i><span> +01 222 111 444 </span></li> 
							<li><a href="mailto:example@mail.com"><i class="fa fa-envelope-o"></i> <span> mail@example.com</span></a></li>
						</ul>
						<div class="clearfix"> </div> 	 
					</div>
					
				</div>
				<div class="clearfix"> </div> 
			</div>	
		</div>	
	</div>	
	<!-- //header -->  
	<!-- banner -->
	<div class="banner inner-banner">
		<div class="header-nav"><!-- header-three --> 	
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						Menu 
					</button> 
				</div>
				<!-- top-nav -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="index.html" class="active">Home</a></li>
						<li><a href="login.html" class="scroll">Login</a></li>    
						<li><a href="signup.html" class="scroll">SignUp</a></li>    				
						<li><a href="create account.html" class="scroll">Create Account</a></li>
					
					</ul>  
					<div class="clearfix"> </div>	
				</div>
			</nav>    
		</div>
		<!-- banner-text -->
		<!-- banner -->
	</div>	
	<!--services-->
<!--services-->
<form>
	<div class="w3ls-section services">
		<div class="container">
			<h2 class="h3-w3l">Create Account</h2> 
			<div class="services-left">
  					<div class="form-group">
  							<label for="Title" style="color:white">Title</label>
  							<select class="form-control" id="sel1">
    							<option value="Mr.">Mr.</option>
    							<option value="Mrs.">Mrs.</option>
  							</select>
					</div> 
  					<div class="form-group">
    					<label for="Name" style="color: white">Name</label>
    					<input type="text" class="form-control" id="name"  placeholder="Enter Full Name" required="">
  					</div>

  					
  					<div class="form-group">
    					<label for="birth" style="color: white">D.O.B</label>
    					<input type="date" class="form-control" id="dob" required="">
    					
  					</div>

  					<div class="form-group">
  							<label for="Gender" style="color:white">Gender</label>
  							<select class="form-control" id="sel1">
    							<option value="Mr.">Male</option>
    							<option value="Mrs.">Female</option>
  							</select>
					</div> 

  					<div class="form-group">
    					<label for="contact" style="color: white">Contact no.</label>
    					<input type="text" class="form-control" pattern="[+,0-9]*" id="telephone"  placeholder="Enter Your Number" required="">
    					
  					</div>
  					
			</div>
			<div class="services-left">
					<div class="form-group">
    					<label for="Aadhar" style="color: white">Aadhaar no.</label>
    					<input type="text" class="form-control" id="aadhaar"  placeholder="Enter Aadhaar Number" pattern="[+,0-9]*" required="">
    					
  					</div>

					<div class="form-group">
    					<label for="address" style="color: white">Address</label>
    					<input type="address" class="form-control" id="address"  placeholder="Enter Your Home Address" required="">
    					
  					</div>
  					<div class="form-group">
    					<label for="city" style="color: white">City</label>
    					<input type="text" class="form-control" id="city"  placeholder="Enter Your City" required="">
    					
  					</div>
  					<div class="form-group">
    					<label for="state" style="color: white">State</label>
    					<input type="text" class="form-control" id="state"  placeholder="Enter Your State" required="">
    					
  					</div>
  				<div class="form-group">
    					<label for="pincode" style="color: white">Pincode</label>
    					<input type="text" pattern="[0-9]*" class="form-control" id="pin"  placeholder="Enter Your Pincode" required="">
    					
  					</div>
  				
			</div>
			<div style="padding-left: 50%"><button>submit</button></div>
		</div>
	</div>
</form>
	<!--//services-->
	<div class="agileits_w3layouts-services-mid">
		<div class="col-md-5 services-mid-img">
		</div>
		<div class="col-md-5 services-mid-text">
		</div>
		<div class="clearfix"> </div>
	</div>

<div class="w3_agile-copyright text-center">
		<p>© 2017 E-Banking. All rights reserved | Design by <a href="//w3layouts.com/">W3layouts</a></p>
	</div>
<!--//footer-->	

	<!-- modadal-sign -->    
	<script src="js/SmoothScroll.min.js"></script>
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->  
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>

</body>
</html>